body {
    display: flex;
    align-items: center;
    height: 100 vh;
<<<<<<< HEAD
    background-color: orchid;
=======
    background-color: teal;
>>>>>>> g
}

.letter {
    transition: color 1000ms;
}

h1 {
<<<<<<< HEAD
    font-size: 13 rem;
=======
    font-size: 20 rem;

>>>>>>> g
}